body {
	padding: 20px;
	font-size: .8em;
	font-family: sans-serif;
	background: #FFF;
}

pre, code {
	font-family: "Consolas","Lucida Console",Courier,mono;
}

a {
	color: #000;
}

a:hover, a:focus {
	color: #EEE;
	background: #1B91CC;
}

#bar {
	line-height: 50px;
}

a#home {
	text-transform: lowercase;
	padding: 15px 25px;
	margin-bottom: 5px;
	float: right;
	font-size: 1.3em;
	background: #333;
	color: #FFF;
	border-radius: 5px;
	border-top-right-radius: 15px;
	font-weight: 700;
	text-decoration: none;
}

a#home:hover, a#home:focus {
	text-decoration: underline;
}

h1 {
	background: #1B91CC;
	color: #FFF;
	margin: 0;
	padding: 0;
	clear: none;
	border-top-right-radius: 15px;
}

#index {
	width: 700px;
	margin: 0 auto;
}

#index h1, #index h2 {
	margin: 10px 0;
}

h1 a, h1 span {
	padding: 15px;
	display: block;
	color: #FFF;
	border-top-right-radius: 15px;
}

h2 {
	margin: 0 0 10px;
	font-size: 1.2em;
	padding: 10px;
	background: #EEE;
}

body pre code {
	line-height: 1.4em;
	padding: 10px;
}

pre {
	margin: 0;
}

#index pre, #index p {
	padding: .6em;
	margin: 0;
}

#donate {
	color: #FFF;
	background: #CC1B1B;
}

pre#lines code {
}

pre#lines a {
	text-decoration: none;
	color: #666;
}

pre#lines a:hover {
	color: #FFF;
}

#desc {
	background: #EEE;
	padding: 15px;
}

.has-related #source-container {
	padding-left: 185px;
}

#related {
	width: 150px;
	float: left;
	border-right: 1px dotted #444;
	padding: 0 15px 0 10px;
}

#related h3 {
	margin: 0;
	padding: 0 0 10px;
}

#related ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#related li {
	list-style: none;
	position: relative;
}

#related li a {
	display: block;
	padding: 5px;
	background: #EEE;
	text-decoration: none;
	font-weight: 700;
	font-family: "Consolas","Lucida Console",Courier,mono;
}

#related li a:hover, ul#related li a:focus {
	background: #1B91CC;
	color: #FFF;
}
