<!doctype html>

	<meta charset="utf-8" />
	<title><:= title :> - jsapi.info</title>
	<link rel="stylesheet" type="text/css" href="/main.css" />
	<link rel="stylesheet" type="text/css" href="/hl_styles/github.css" />

<body>
	<h1><:= name :></h1>
	<: if (data.desc) { :>
		<div id="desc">
			<p><:= desc :></p>
		</div>
	<: } :>
	<h2>
		<:= libName :> (<:= version :>) - see <a href="<:=source_link:>">full source</a>
	</h2>
	<div id="source">
		<table>
			<tr>
				<td>
					<pre id="lines"><code><:= lineNumbers :></code></pre>
				</td>
				<td>
					<pre id="source"><code><:= source :></code></pre>
				</td>
			</tr>
		</table>
	</div>

	<script>

		var _gaq = [['_setAccount', 'UA-3768993-10'], ['_trackPageview']];

		(function(ga, s) {
			ga.src = 'http://www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(ga, s);
		}(
			document.createElement('script'),
			document.getElementsByTagName('script')[0]
		));

	</script>

</body>
