<!doctype html>

	<meta charset="utf-8" />
	<title>~:= title :~ - jsapi.info</title>
	<link rel="stylesheet" type="text/css" href="/assets/main.css?345" />
	<link rel="stylesheet" type="text/css" href="/assets/hl_styles/github.css" />

<body class="~:=data.related?'has-related':'':~">

	<div id="bar">
		<a id="home" href="/">JSAPI.info</a>
		<h1>
			~: if (data.docLink) { :~
				<a href="~:= docLink :~">~:= name :~ &raquo;</a>
			~: } else { :~
				<span>~:= name :~</span>
			~: } :~
		</h1>
	</div>

	~: if (data.desc) { :~
		<div id="desc">
			<p>~:= desc :~</p>
		</div>
	~: } :~

	<div id="meta">
		<div class="meth">
			~: if (data.docLink) { :~
				<a href="~:= docLink :~">See documentation for <code>~:= name :~</code> &raquo;</a>
			~: } :~
		</div>
		<div class="lib">
			~:= libName :~ (~:= version :~) - see <a href="~:=source_link:~">full source</a>
		</div>
	</div>

	~: if (data.related) { :~
		<div id="related">
			<h3>Related ~:=namespace?'('+namespace+')':'':~:</h3>
			<ul>
				~: for (var i = -1, l = related.length; ++i < l;) { :~
					<li><a href="~:=related[i].link:~">~:=related[i].name:~</a></li>
				~: } :~
			</ul>
		</div>
	~: } :~

	<div id="source-container">
		<table>
			<tr>
				<td>
					<pre id="lines"><code>~:= lineNumbers :~</code></pre>
				</td>
				<td>
					<pre id="source"><code>~:= source :~</code></pre>
				</td>
			</tr>
		</table>
	</div>

	<script>

		var _gaq = [['_setAccount', 'UA-3768993-10'], ['_trackPageview']];

		(function(ga, s) {
			ga.src = 'http://www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(ga, s);
		}(
			document.createElement('script'),
			document.getElementsByTagName('script')[0]
		));

	</script>

</body>
